@if (player) {
<h2 class="ank-textAlign-center">Welcome {{ player.userName }}</h2>
}@else {
<h2 class="ank-textAlign-center">Please Identify</h2>
<a
  href="/auth/login"
  [routerLink]="['/auth/login']"
  routerLinkActive="router-link-active"
  ><generic-button
    [buttonInner]="'Login'"
    [buttonBGColor]="'primary'"
    [buttonTextColor]="'white'"
    [buttonClass]="
      'ank-mx-auto ank-d-block ank-w-75per ank-p-0_5rem ank-bc-white ank-my-1rem'
    "
/></a>
<a
  href="/auth/register"
  [routerLink]="['/auth/register']"
  routerLinkActive="router-link-active"
  ><generic-button
    [buttonInner]="'Register'"
    [buttonBGColor]="'secondary'"
    [buttonTextColor]="'white'"
    [buttonClass]="
      'ank-mx-auto ank-d-block ank-w-75per ank-p-0_5rem ank-bc-white ank-my-1rem'
    "
/></a>
}
